---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/segment_efforts?segment_id=4677383
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 5656828bbe02ea7ea866fd6cfff653134ecf6cb8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '100,1000'
      Etag:
      - W/"21ab5a9e88399c542ba673d674c19ab9"
      X-Ratelimit-Usage:
      - '1,4'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":6943175107,"resource_state":2,"name":"Monks-Gate-Mine climb","activity":{"id":295425956,"resource_state":1},"athlete":{"id":2187119,"resource_state":1},"elapsed_time":174,"moving_time":174,"start_date":"2015-04-30T14:59:00Z","start_date_local":"2015-04-30T08:59:00Z","distance":643.2,"start_index":3137,"end_index":3277,"device_watts":false,"average_watts":288.3,"segment":{"id":4677383,"resource_state":2,"name":"Monks-Gate-Mine
        climb","activity_type":"Ride","distance":643.2,"average_grade":8.2,"maximum_grade":17.2,"elevation_high":1317.6,"elevation_low":1264.8,"start_latlng":[31.789667,-106.487981],"end_latlng":[31.793995,-106.49137],"elevation_profile":null,"start_latitude":31.789667,"start_longitude":-106.487981,"end_latitude":31.793995,"end_longitude":-106.49137,"climb_category":0,"city":"El
        Paso","state":"TX","country":"United States","private":false,"hazardous":false,"starred":false},"pr_rank":null,"achievements":[{"type_id":2,"type":"overall","rank":3}],"kom_rank":3},{"id":14060500099,"resource_state":2,"name":"Monks-Gate-Mine
        climb","activity":{"id":578570212,"resource_state":1},"athlete":{"id":2187119,"resource_state":1},"elapsed_time":177,"moving_time":177,"start_date":"2016-05-15T17:34:51Z","start_date_local":"2016-05-15T11:34:51Z","distance":643.2,"start_index":45,"end_index":71,"device_watts":false,"average_watts":289.9,"segment":{"id":4677383,"resource_state":2,"name":"Monks-Gate-Mine
        climb","activity_type":"Ride","distance":643.2,"[...]
