---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/segment_efforts?end_date_local=2020-12-16&segment_id=4677383&start_date_local=2020-09-16
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 5656828bbe02ea7ea866fd6cfff653134ecf6cb8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '100,1000'
      Etag:
      - W/"11a2956ba75f717b8e91ef0cbddf6167"
      X-Ratelimit-Usage:
      - '6,21'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":2742209153917565396,"resource_state":2,"name":"Monks-Gate-Mine
        climb","activity":{"id":4079845250,"resource_state":1},"athlete":{"id":2187119,"resource_state":1},"elapsed_time":186,"moving_time":183,"start_date":"2020-09-18T23:47:50Z","start_date_local":"2020-09-18T17:47:50Z","distance":643.2,"start_index":346,"end_index":485,"device_watts":false,"average_watts":299.5,"segment":{"id":4677383,"resource_state":2,"name":"Monks-Gate-Mine
        climb","activity_type":"Ride","distance":643.2,"average_grade":8.2,"maximum_grade":17.2,"elevation_high":1317.6,"elevation_low":1264.8,"start_latlng":[31.789667,-106.487981],"end_latlng":[31.793995,-106.49137],"elevation_profile":null,"start_latitude":31.789667,"start_longitude":-106.487981,"end_latitude":31.793995,"end_longitude":-106.49137,"climb_category":0,"city":"El
        Paso","state":"TX","country":"United States","private":false,"hazardous":false,"starred":false},"pr_rank":null,"achievements":[],"kom_rank":null},{"id":2751264294807277674,"resource_state":2,"name":"Monks-Gate-Mine
        climb","activity":{"id":4192011178,"resource_state":1},"athlete":{"id":2187119,"resource_state":1},"elapsed_time":196,"moving_time":189,"start_date":"2020-10-14T00:24:20Z","start_date_local":"2020-10-13T18:24:20Z","distance":643.2,"start_index":249,"end_index":380,"device_watts":false,"average_watts":285.4,"segment":{"id":4677383,"resource_state":2,"name":"Monks-Gate-Mine
        climb","activity_type":"Ride","dis[...]
