.leaderboard-shared-container {
  .leaderboard-race-extract {
    margin-top: 8em;
  }

  .multi-leaderboard-container {
    margin-top: 4em;
  }
}

////// Mobile //////
@media (min-width: 320px) and (max-width: 768px) {
  .leaderboard-shared-container {
    .leaderboard-race-extract {
      margin-top: 3em;
      margin-left: 0em;
      margin-right: 0em;

      h1 {
        font-size: 35px;
      }
    }
    
    .multi-leaderboard-container {
      margin-top: 2em;
      margin-left: 1em;
      margin-right: 1em;
    }
  }
}

////// Laptop L //////
@media (min-width: 1025px) and (max-width: 1440px) {
  .leaderboard-shared-container {
    .leaderboard-race-extract {
      margin-left: 2em;
      margin-right: 2em;
    }

    .multi-leaderboard-container {
      margin-left: 2em;
      margin-right: 2em;
    }
  }
}