// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'variables/colors.scss';

// Shared
.centered-title {
    text-align: center;
    align-items: center;

    h3 {
        color: $dark-blue;
        font-size: 2em !important;
    
        mark {
            color: $light-blue;
            background-color: inherit;
        }
    }  
}

// Section 1
.welcome-background {
    width: 100%;
    height: 900px;
    background: linear-gradient( 
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5) 
    ), image-url('landing/welcome-bg.jpg');
    background-size: cover;
}

.welcome-container {
    color: white;
    text-align: center;
    padding: 16em 30em 10em;

    .title {
        font-size: 69px;
        font-weight: bolder;
    }

    .desc {
        font-size: 17px;
        padding: 0em 7em 0em;
    }

}

// Section 2
.features-container {
    margin-top: 4em;

    p {
        font-size: 15px;
        color: $light-gray;
    }

    .content {
        background-color: $light-blue !important;

        p {
            color: white;
            text-align: center;
        }
    }

    .features-item {
        text-align: center;
        align-items: center;

        h5 {
            color: $dark-blue;
        }
    }
}

// Section 3
.racers-container { 
    padding-bottom: 5em;

    p {
        font-size: 15px;
        color: $gray;
    }

    .left-inverted {
        right: 50%;
    }

    .race-heading{
        margin-top: 2em;
    }

    .right-inverted {
        left: 50%;
    }
}

// Section 4
.started-container {
    h3 {
        color: $dark-blue;
        font-size: 2em !important; 
    }

    img {
        max-width: 80% !important;
    }

    .card {
        height: 18em;
        padding: 1.5em !important;
        background-color: #FAFAFA !important;
        box-shadow: 0px 0px 11px 1px #a1abbd4f !important;

        .desc {
            color: $gray;
        }

        .icon {
            font-size: 4em;
            margin-bottom: 0.5em;
        }

        .step {
            font-size: 1em;
            color: $dark-blue;
            font-weight: bolder;
        }
    }

    .start-cards {
        margin-top: 15%
    }
}

// Section 5
.main.container {
    margin-bottom: 0em !important;

    .explore-background {
        width: 100%;
        height: 300px;
        color: white;
        margin-top: 3em;
        text-align: center;
        background: image-url('landing/explore-bg.jpg');
        background-size: cover;
    
        .title {
            margin-top: 1em;
            font-size: 40px;
            font-weight: bolder;
        }
    
        .desc {
            font-size: 15px;
        }
    }
}

////// Mobile //////
@media (min-width: 320px) and (max-width: 768px) {
    // Section 1
    .welcome-background {
        width: 100%;
        height: 600px;
    }

    .welcome-container {
        padding: 5em 1em 5em;

        .title {
            font-size: 35px;
        }

        .desc {
            line-height: 2;
            font-size: 13px;
            padding: 0em 1em 0em;
        }
    }

    // Section 2
    .features-container {
        margin-top: 2em;
    }

    // Section 3
    .racers-container {
        margin-top: 3em;
        text-align: center;
        padding-bottom: 2em;

        .first-virtual-racer {
            margin-left: 0;
        }

        .left-inverted {
            right: 0;
        }

        .race-heading {
            margin-top: 0;
            font-size: 1.5em;
        }

        .right-inverted {
            left: 0;
        }

        .text-container {
            margin-left: 1em;
            margin-right: 1em;
        }
    }

    // Section 4
    .started-container {
        text-align: center;

        h3 {
            font-size: 1.8em !important;
        }

        .card {
            height: 19em;
            text-align: left;
            padding: 0.2em !important;

            .step {
                color: $light-blue;
            }

            .icon {
                font-size: 3em;
            }
        }

        .start-cards {
            margin-top: 0%;
        }
    }

    // Section 5
    .main.container {
        margin-bottom: 0em !important;

        .explore-background {
            width: 100%;
            height: 400px;
            padding: 0.6em;

            .title {
                font-size: 35px;
            }
        
            .desc {
                font-size: 13px;
            }
        }
    }
}

////// Tablet //////
@media (min-width: 426px) and (max-width: 768px) {
    // Section 3
    .racers-container {
        p {
            font-size: 14px;
        }

        .race-heading {
            margin-top: 1.5em;
        }
    }

    // Section 4
    .started-container img {
        margin-top: 2em;
        max-width: 95% !important;
    }
}

////// Laptop //////
@media (min-width: 769px) and (max-width: 1024px) {
    // Section 1
    .welcome-container {
        padding: 10em 6em 0em;
    }

    // Section 3
    .racers-container {
        .first-virtual-racer {
            margin-left: 0em;
        }

        .race-heading {
            margin-top: 2em;
        }
    }
}

////// Laptop L //////
@media (min-width: 1025px) and (max-width: 1440px) {
    // Section 1
    .welcome-container {
        padding: 10em 15em 10em;

        .desc {
            padding: 0em 1em 0em;
        }
    }

    // Section 3
    .racers-container {
        margin-top: 5em;

        .first-virtual-racer {
            height: 20em;
        }

        .second-virtual-racer {
            height: 20em;
        }
    }
}