.race-extract-container
  %h1= @race.title
  %p= @race.description
  - if !current_user
    .ui.button.large.light-blue
      = link_to 'Sign up', new_user_session_path, class: 'link-to-button'
  - elsif current_user && @registered.empty?
    .ui.button.large.light-blue
      %a{href: "/races/#{race.id}/registration/new", class: 'link-to-button'} Register now
  - elsif current_user && !@registered.empty?
    .ui.disabled.button.large.light-blue Registered!