-# = render partial: 'shared/search'
-# = render partial: 'list'

-# %br

-# - if current_user.present? && (policy(current_user).admin? || policy(current_user).race_admin?)
-#   = link_to 'New Race', new_race_path

-##########
.race-list-container
  .ui.stackable.grid
    .three.column.row
      - @races.each do | race |
        - if current_user.present?
          -  registered = Registration.user_registered_and_paid?(current_user, race)
          .column
            = render partial: 'components/race-card', locals: {race: race, registered: registered}
        - else
          .column
            = render partial: 'components/race-card', locals: {race: race}
