.banner
  .ui.sixteen.column.centered.grid
    .row
      .sixteen.wide.column
        %p Activity
%br
.activity-container
  .ui.stackable.centered.grid
    .row
      .five.wide.column
        .activity-left-card
          .content
            .icon-container
              %i.huge.wallet.icon.light-gray
            %br
            %br
            %p.balance $240
            %p.title Virtual Dash Balance
            .link-status
              - if true 
                .pending 
                  %p Pending link
              - else
                .success
                  %p Linked
            %br
            %p.desc Virtual Dash partners with Stripe to transfer race prize earnings to your bank account.
          - if true
            = link_to 'Set up payouts', root_path, class: 'ui button fluid light-blue', style: 'border-radius: 0%;'
          - else
            = link_to 'Go to dashboard', root_path, class: 'ui button fluid light-blue', style: 'border-radius: 0%;'
        %br
        .activity-left-card
          .content
            .icon-container
              %i.huge.handshake.icon.light-gray
            %br
            %br
            %p.title Need help?
            %p.desc We are here to help. Our experts will reply as soon as possible to solve questions or concerns.
          = link_to 'Contact us', root_path, class: 'ui button fluid', style: 'border-radius: 0%;'
      .nine.wide.column
        .activity-right-card
          %p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, explicabo. Hic illo quibusdam at natus aperiam blanditiis excepturi sit doloremque? Vel nesciunt voluptate provident laudantium dignissimos necessitatibus omnis vitae itaque.
    