.banner
  .ui.sixteen.column.centered.grid
    .row
      .column
        %p Activity
.activity-container
  .ui.stackable.centered.grid
    .row
      .five.wide.column
        %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates beatae magni magnam asperiores nulla, sed ullam possimus libero tempore rerum voluptas reiciendis, excepturi minus provident aspernatur suscipit rem, accusamus consequatur.
        %p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium commodi hic tenetur eius possimus? Reiciendis qui porro maiores laboriosam aperiam animi voluptate cum explicabo commodi placeat magni saepe, veniam vero.
      .nine.wide.column
        %p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, explicabo. Hic illo quibusdam at natus aperiam blanditiis excepturi sit doloremque? Vel nesciunt voluptate provident laudantium dignissimos necessitatibus omnis vitae itaque.
    