.banner
  .ui.sixteen.column.centered.grid
    .row
      .sixteen.wide.column
        %p About us
-# TODO: Make the banner a shared component
.ui.stackable.centered.grid
  .row
    .ten.wide.column
      .story-container
  .row
    .ten.wide.column
      .values-container
  .row
    .ten.wide.column
      .team-container