-# = link_to "Sign in with Strava", user_strava_omniauth_authorize_path
.welcome-background
  .welcome-container 
    .ui.grid
      .row
        .sixteen.wide.column
          %h1.title VIRTUAL RACING IN YOUR OWN COMFORT SPACE
      .row
        .sixteen.wide.column
          %p.desc Race other bikers virtually on any course using Virtual Dash. Easily register online, race by yourself or with friends on any of the virtual races at any time, and win money prices. 
      .row
        .sixteen.wide.column
          .ui.button.large.light-blue
            = link_to 'Explore races', new_user_session_path, class: 'link-to-button'

