// Main colors
$gray: #6b778c;
$black: #0f0821;
$dark-blue: #081f3f;
$light-blue: #20a4f3;
$light-gray: #6b778c;
$ligther-gray: #f8f8f8;
$orange: #ff3f00;
$shadow: #6b778c4f;
$light-shadow: #888d9614;