// Main colors
$gray: #6b778c;
$black: #0f0821;
$dark-blue: #081f3f;
$light-blue: #20a4f3;
$lighter-blue: #F4FAFF;
$light-gray: #6b778c;
$lighter-gray: #CDCDCD;
$orange: #ff3f00;
$shadow: #6b778c4f;
$light-shadow: #888d9614;
$green: #5CBB5E;