 @import '../variables/colors.scss';

a.link-to-button {
  color: white !important;
  &:hover {
    background-color: transparent !important;
  }
} 

 .light-blue {
  color: white !important;
  background-color: $light-blue !important;
  &:hover {
    background-color: darken($light-blue, 10%) !important;
  } 
}

.dark-blue {
  color: white !important;
  background-color: $dark-blue !important;
  &:hover {
    background-color: lighten($dark-blue, 10%) !important;
  } 
}