@import '../variables/colors.scss';

.auth-card-container {
    display: flex;
    margin-top: 3em;
    align-items: center;
    justify-content: center;
}

.auth-card {
    width: 26em;
    height: 25em;
    padding: 3em;
    border-radius: 12px;
    box-shadow: 0px 0px 11px 1px #6b778c4f !important;

    p {
        width: 80%;
        font-size: 12px;
        margin-bottom: 50%;
        a {
          &:hover {
              text-decoration: underline;
              background-color: transparent !important;
          }  
        }
    }
}

.race-card {
    border: solid #eaeaea 1px;

    .buttons {
        display: table;
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 1em;
        align-items: center;
        border-spacing: .5em;
        border-collapse: separate;

        .button {
            width: 50%;
            display: table-cell;
            vertical-align: middle;
        }
    }

    .details {
        margin-left: 1em;
        margin-right: 1em;

        .desc {
            color: $gray;
            font-size: 12px;
            margin-bottom: 2em !important;
            // Limit description to 4 lines
            overflow: hidden !important;
            display: -webkit-box;
            -webkit-line-clamp: 4; /* number of lines to show */
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
        }

        .title {
            overflow: hidden !important;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
        }
    }

    .map-container {
        height: 8em;
    }
}

.stats-card{
    padding: 2em;
    border-radius: 6px;
    box-shadow: 0px 0px 11px 1px #6b778c4f !important;

    .stats-icon {
        float: right !important;
    }

    .stats-name {
        font-size: 17px;
        font-weight: bold;
        color: $dark-blue;
    }

    .stats-number {
        font-size: 24px;
        font-weight: bold;
        color: $dark-blue;
    }
}

////// Mobile //////
@media (min-width: 320px) and (max-width: 768px) {
    .auth-card-container {
        margin: 3em 1em 0em;
    }

    .auth-card {
        p {
            width: 90%;
            margin-bottom: 60%;
        }
    }

    .stats-card {
        padding: 1em;
    }
}

////// Tablet //////
@media (min-width: 425px) and (max-width: 768px) {
    .race-card {
        .details {
            .title {
                overflow: hidden !important;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
            }
        }

        .buttons {
            display: grid;

            .button {
                width: 100%;
                margin-bottom: 0.5em;
            }
        }
    }
}

////// Laptop L //////
@media (min-width: 1025px) and (max-width: 1440px) {
    .stats-card {
        margin: 0em 2em 0em;
    }
}
