// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'variables/colors.scss';

// Section 1
.welcome-background {
    width: 100%;
    height: 900px;
    background: linear-gradient( 
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5) 
    ), url('landing-welcome-bg.png');
    background-size: cover;

    @media (max-width: 720px) {
        height: 600px;
    }
}

.welcome-container {
    color: white;
    text-align: center;
    padding: 16em 30em 10em;
    
    @media (max-width: 1280px) {
        padding: 10em 15em 10em;
    }

    @media (max-width: 720px) {
        padding: 5em 1em 5em;
    }

    .title {
        font-size: 69px;
        font-weight: bolder;
        
        @media (max-width: 720px) {
            font-size: 35px;
        }
    }

    .desc {
        font-size: 17px;
        padding: 0em 7em 0em;
        
        @media (max-width: 720px) {
            line-height: 2;
            font-size: 13px;
        }

        @media (max-width: 1280px) {
            padding: 0em 1em 0em;
        }
    }

}

// Section 2
.racers-container { 
    padding-bottom: 5em;

    p {
        font-size: 17px;
        color: $gray;
    }

    .first-row {
        margin: 0em 4em 0em !important;

        @media (max-width: 1280px) {
            margin: 0 !important;
        }
    }

    .first-virtual-racer {
        margin-left: 6em !important;

        @media (max-width: 1280px) {
            margin-left: 0 !important;
        }
    }

    .left-inverted {
        right: 48%;
        
        @media (max-width: 720px) {
            right: 0;
        }
    }

    .race-heading{
        margin-top: 6em;

        @media (max-width: 720px) {
            margin-top: 0;
        }
    }

    .right-inverted {
        left: 50%;

        @media (max-width: 720px) {
            left: 0;
        }
    }

    .text-container{
        margin-left: 5em;
        margin-right: 5em;

        @media (max-width: 720px) {
            margin-left: 10em;
            margin-right: 10em;
        }

        @media (max-width: 1280px) {
            margin-left: 1em;
            margin-right: 1em;
        }
    }
}

// Section 3
.panoramic-race {
    width: 100%;
    height: 35em;
    background-image: url('landing-panoramic-race.png');
    background-size: cover;

    @media (max-width: 720px) {
        height: 15em;
    }
}

// Section 4
.upcoming-container {
    h2 {
        font-size: 30px;
    }

    p {
        color: $gray;
        font-size: 15px;
    }

    .title-row {
        margin-top: 6em;
        margin-bottom: 6em;
        text-align: center;
        justify-content: center;
        -webkit-box-pack: center;

        @media (max-width: 720px) {
            margin-top: 3em !important;
        }
    }

    .race-data-container {
        margin-top: 5em;
        margin-right: 20em;

        @media (max-width: 720px) {
            margin-top: 0em !important;
            margin-left: 1em !important;
            margin-right: 0em !important;
        }

        @media (max-width: 1280px) {
            margin-left: 0em;
            margin-right: 10em;
        }
    }

    .race-map {
        height: 23em;
        margin-left: 25em;
        border-radius: 11%;
        border: solid 1.5em white;
        box-shadow: 2px 2px 17px 0px $gray !important;

        @media (max-width: 720px) {
            margin-left: 0em !important;
        }

        @media (max-width: 1280px) {
            margin-left: 10em;
        }

    }
}