// Header styles
.auth-buttons {
    display: flex;
    margin-left: 3em;
    align-items: center;
    justify-content: center;
}

.dash-header {
    padding: 3em 5em 3em !important;
    background-color: white !important;
}

.link-to-header{
    color: white !important;
} 

a.link-to-header:hover {
    background-color: transparent !important;
}

.logo-header {
    width: 213px !important;
    height: 26px !important;
}