@import 'variables/colors.scss';

// Shared layout styles
a.no-hover:hover {
    background-color: transparent !important;
}

.logo-nav {
    width: 213px !important;
    height: 26px !important;

    @media (max-width: 720px) {
        width: 175px !important;
    }
}

// Header styles
a.header-button{
    color: white !important;
} 

a.header-button:hover {
    background-color: transparent !important;
}

a.item.header {
    color: $gray !important;
}

.auth-buttons {
    display: flex;
    margin-left: 3em;
    align-items: center;
    justify-content: center;
}

.desktop-nav {
    visibility: inherit;
    
    @media (max-width: 720px) {
        visibility: hidden;
    }
}

.header-container {
    padding: 3em 5em 3em !important;
    background-color: white !important;

    @media (max-width: 720px) {
        padding: 1.5em 0em 1.5em !important;
    }
}

.mobile-menu{
    color: black !important;
    background-color: transparent !important;
}

.mobile-nav {
    visibility: hidden;
    padding-left: 3em !important;
    
    @media (max-width: 720px) {
        visibility: inherit;
    }
}

// Footer styles
a.footer {
    font-size: 12px;
    margin-bottom: 0.5em;
    color: white !important;
}

.footer-arrow-icon {
    color: $light-blue;
}

.footer-container {
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 30em;
    color: white;
    padding-top: 5em;
    padding-left: 25em;
    padding-right: 5em;
    position: relative;
    background-color: $dark-blue;
    
    @media (max-width: 1280px) {
        padding-left: 13em;
    }

    @media (max-width: 720px) {
        height: 40em;
        padding-left: 1em;
        padding-right: 0em;
    }

}

.footer-input-button {
    background-color: white !important;
}

.footer-mail{
    @media (max-width: 720px) {
        width: 17em !important;
    }
}

.footer-title{
    font-size: 16px;
}

p.footer{
    font-size: 12px;
    max-width: 16em;
    margin-top: 1em;

    @media (max-width: 720px) {
        max-width: 19em;
    }
}