@import 'variables/colors.scss';

////// Shared ////// 
a.no-hover:hover {
    background-color: transparent !important;
}

.logo-nav {
    width: 18em !important;
    height: 3em !important;
}

////// Header ////// 
a.item.header {
    font-size: 16px;
    font-weight: normal !important;
    color: #282828 !important;
}

.auth-buttons {
    display: flex;
    margin-left: 3em;
    align-items: center;
    justify-content: center;

    .ui.button {
        padding-left: 2em;
        padding-right: 2em;

        &:first-child {
            margin-right: 1em;
        }
    }
}

.desktop-nav {
    visibility: inherit;
}

.header-container {
    padding: 1em 7em 1em !important;
    background-color: white !important;
}

.mobile-menu{
    color: black !important;
    background-color: transparent !important;
}

.mobile-nav {
    visibility: hidden;
}

.profile-pic {
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
    margin-right: 1em !important;
}

////// Footer ////// 
a.footer {
    font-size: 12px;
    margin-bottom: 0.5em;
    color: white !important;
}

.footer-arrow-icon {
    color: $light-blue;
}

.footer-container {
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 30em;
    color: white;
    padding-top: 5em;
    padding-left: 14em;
    padding-right: 5em;
    position: relative;
    background-color: $dark-blue;
}

.footer-input-button {
    background-color: white !important;
}

.footer-title{
    font-size: 16px;
}

p.footer{
    font-size: 12px;
    max-width: 16em;
    margin-top: 1em;
}

/// Mobile
@media (min-width: 320px) and (max-width: 768px) {
    ////// Shared //////
    .logo-nav {
        width: 10em !important;
    }

    ////// Header ////// 
    .desktop-nav {
        display: none !important;
    }

    .header-container {
        padding: 0em !important;
    }

    .item.no-hover {
        padding-left: 0.5em !important;
    }

    .mobile-menu {
        padding-left: 0.2em !important; 
        padding-right: 0.2em !important;
    }

    .mobile-nav {
        visibility: inherit;

        .mini.button {
            padding: 0.7em !important;
            font-size: 0.7em !important;
        }
        
        .header.item {
            padding-left: 0em !important;
            padding-right: 0em !important;
            margin-left: 0.2em !important;
            margin-right: 0.2em !important;
        }
    }

    ////// Footer ////// 
    .footer-container {
        height: 40em;
        padding-left: 1em;
        padding-right: 1em;

        p.footer {
            max-width: 19em;
        }

        .footer-mail {
            width: 17em !important;
        }
    }
}

/// Laptop
@media (min-width: 769px) and (max-width: 1025px) {
    a.item.header {
        font-size: 15px;
    }

    .auth-buttons {
        margin-left: 2em;
    
        .ui.button {
            padding-left: 1.5em;
            padding-right: 1.5em;
    
            &:first-child {
                margin-right: 1em;
            }
        }
    }

    .header-container {
        padding: 1em 4em 1em !important;
    }

    .logo-nav {
        width: 18em !important;
        height: 2em !important;
    }
}

/// Laptop L
@media (min-width: 1025px) and (max-width: 1439px) {
    .footer-container {
        padding-left: 7em;
        
        .logo-nav{
            width: 15em !important;
            height: 2em !important;
        }
    }
}