/* screen - find-races */

.find-races {
  align-items: center;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  min-height: 4378px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}
.find-races .about-link {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.find-races .active-17nc4N {
  background-color: transparent;
  height: calc(100.00% - 20px);
  left: 12px;
  position: absolute;
  top: 10px;
  width: calc(100.00% - 24px);
}
.find-races .active-3oa0xK {
  background-color: transparent;
  height: calc(100.00% - 20px);
  left: 12px;
  position: absolute;
  top: 10px;
  width: calc(100.00% - 24px);
}
.find-races .active-9xxQCZ {
  background-color: transparent;
  height: calc(100.00% - 20px);
  left: 12px;
  position: absolute;
  top: 10px;
  width: calc(100.00% - 24px);
}
.find-races .active-Bxeuj8 {
  background-color: transparent;
  height: calc(100.00% - 20px);
  left: 12px;
  position: absolute;
  top: 10px;
  width: calc(100.00% - 24px);
}
.find-races .active-FK9VMq {
  background-color: transparent;
  height: calc(100.00% - 20px);
  left: 12px;
  position: absolute;
  top: 10px;
  width: calc(100.00% - 24px);
}
.find-races .active-L4FuHm {
  background-color: transparent;
  height: calc(100.00% - 20px);
  left: 12px;
  position: absolute;
  top: 10px;
  width: calc(100.00% - 24px);
}
.find-races .active-UG76Q3 {
  background-color: transparent;
  height: calc(100.00% - 20px);
  left: 12px;
  position: absolute;
  top: 10px;
  width: calc(100.00% - 24px);
}
.find-races .active-b62kM2 {
  background-color: transparent;
  height: calc(100.00% - 20px);
  left: 12px;
  position: absolute;
  top: 10px;
  width: calc(100.00% - 24px);
}
.find-races .active-kMRMqV {
  background-color: transparent;
  height: calc(100.00% - 20px);
  left: 12px;
  position: absolute;
  top: 10px;
  width: calc(100.00% - 24px);
}
.find-races .active-tLEP3H {
  background-color: transparent;
  height: calc(100.00% - 20px);
  left: 12px;
  position: absolute;
  top: 10px;
  width: calc(100.00% - 24px);
}
.find-races .buttonprimary-2hjNxB {
  background-color: var(--tangaroa);
  border-radius: 4px;
  bottom: 31px;
  height: 38px;
  left: calc(33.45% - 48px);
  position: absolute;
  width: 144px;
}
.find-races .buttonprimary-3yNWBz {
  background-color: transparent;
  border: 1px solid var(--dodger-blue);
  border-radius: 4px;
  bottom: 31px;
  height: 38px;
  left: calc(46.79% - 59px);
  position: absolute;
  width: 126px;
}
.find-races .buttonprimary-6KdL0e {
  background-color: var(--tangaroa);
  border-radius: 4px;
  bottom: 31px;
  height: 38px;
  left: calc(33.45% - 48px);
  position: absolute;
  width: 144px;
}
.find-races .buttonprimary-8ReNNG {
  background-color: var(--tangaroa);
  border-radius: 4px;
  bottom: 31px;
  height: 38px;
  left: calc(33.45% - 48px);
  position: absolute;
  width: 144px;
}
.find-races .buttonprimary-8k2o9G {
  background-color: var(--tangaroa);
  border-radius: 4px;
  bottom: 31px;
  height: 38px;
  left: calc(33.45% - 48px);
  position: absolute;
  width: 144px;
}
.find-races .buttonprimary-9Xx1PX {
  background-color: transparent;
  border: 1px solid var(--dodger-blue);
  border-radius: 4px;
  bottom: 31px;
  height: 38px;
  left: calc(46.79% - 59px);
  position: absolute;
  width: 126px;
}
.find-races .buttonprimary-EKDxxT {
  background-color: var(--tangaroa);
  border-radius: 4px;
  bottom: 31px;
  height: 38px;
  left: calc(33.45% - 48px);
  position: absolute;
  width: 144px;
}
.find-races .buttonprimary-EpdZhn {
  background-color: var(--tangaroa);
  border-radius: 4px;
  bottom: 31px;
  height: 38px;
  left: calc(33.45% - 48px);
  position: absolute;
  width: 144px;
}
.find-races .buttonprimary-FuQ9wj {
  background-color: var(--tangaroa);
  border-radius: 4px;
  bottom: 31px;
  height: 38px;
  left: calc(33.45% - 48px);
  position: absolute;
  width: 144px;
}
.find-races .buttonprimary-GcAXmx {
  background-color: transparent;
  border: 1px solid var(--dodger-blue);
  border-radius: 4px;
  bottom: 31px;
  height: 38px;
  left: calc(46.79% - 59px);
  position: absolute;
  width: 126px;
}
.find-races .buttonprimary-TTrI5R {
  background-color: var(--tangaroa);
  border-radius: 4px;
  bottom: 31px;
  height: 38px;
  left: calc(33.45% - 48px);
  position: absolute;
  width: 144px;
}
.find-races .buttonprimary-UkizOn {
  background-color: var(--tangaroa);
  border-radius: 4px;
  bottom: 31px;
  height: 38px;
  left: calc(33.45% - 48px);
  position: absolute;
  width: 144px;
}
.find-races .buttonprimary-UloyJ9 {
  background-color: transparent;
  border: 1px solid var(--dodger-blue);
  border-radius: 4px;
  bottom: 31px;
  height: 38px;
  left: calc(46.79% - 59px);
  position: absolute;
  width: 126px;
}
.find-races .buttonprimary-WTSSiU {
  background-color: transparent;
  border: 1px solid var(--dodger-blue);
  border-radius: 4px;
  bottom: 31px;
  height: 38px;
  left: calc(46.79% - 59px);
  position: absolute;
  width: 126px;
}
.find-races .buttonprimary-leaderboard {
  background-color: transparent;
  border: 1px solid var(--dodger-blue);
  border-radius: 4px;
  bottom: 31px;
  height: 38px;
  left: calc(46.79% - 59px);
  position: absolute;
  width: 126px;
}
.find-races .buttonprimary-register {
  background-color: var(--tangaroa);
  border-radius: 4px;
  bottom: calc(48.39% - 18px);
  height: 38px;
  position: absolute;
  right: 80px;
  width: 98px;
}
.find-races .buttonprimary-ayxDeQ {
  background-color: transparent;
  border: 1px solid var(--dodger-blue);
  border-radius: 4px;
  bottom: 31px;
  height: 38px;
  left: calc(46.79% - 59px);
  position: absolute;
  width: 126px;
}
.find-races .buttonprimary-cPrnox {
  background-color: transparent;
  border: 1px solid var(--dodger-blue);
  border-radius: 4px;
  bottom: 31px;
  height: 38px;
  left: calc(46.79% - 59px);
  position: absolute;
  width: 126px;
}
.find-races .buttonprimary-lvhmrF {
  background-color: var(--tangaroa);
  border-radius: 4px;
  bottom: 31px;
  height: 38px;
  left: calc(33.45% - 48px);
  position: absolute;
  width: 144px;
}
.find-races .buttonprimary-register-in-list {
  background-color: var(--tangaroa);
  border-radius: 4px;
  bottom: 31px;
  height: 38px;
  left: calc(33.45% - 48px);
  position: absolute;
  width: 144px;
}
.find-races .buttonprimary-login {
  background-color: var(--dodger-blue);
  border-radius: 4px;
  bottom: calc(48.39% - 18px);
  height: 38px;
  position: absolute;
  right: 194px;
  width: 86px;
}
.find-races .buttonprimary-seY9Ct {
  background-color: transparent;
  border: 1px solid var(--dodger-blue);
  border-radius: 4px;
  bottom: 31px;
  height: 38px;
  left: calc(46.79% - 59px);
  position: absolute;
  width: 126px;
}
.find-races .buttonprimary-vzpmx0 {
  background-color: transparent;
  border: 1px solid var(--dodger-blue);
  border-radius: 4px;
  bottom: 31px;
  height: 38px;
  left: calc(46.79% - 59px);
  position: absolute;
  width: 126px;
}
.find-races .caret-down-CxLI6h {
  background-color: transparent;
  bottom: calc(46.53% - 2px);
  height: 5px;
  position: absolute;
  right: 20px;
  width: 8px;
}
.find-races .caret-down-JNskzb {
  background-color: transparent;
  bottom: calc(46.53% - 2px);
  height: 5px;
  position: absolute;
  right: 20px;
  width: 8px;
}
.find-races .caret-down-S4SUKH {
  background-color: transparent;
  bottom: calc(46.53% - 2px);
  height: 5px;
  position: absolute;
  right: 20px;
  width: 8px;
}
.find-races .caret-down-ovjRMA {
  background-color: transparent;
  bottom: calc(46.53% - 2px);
  height: 5px;
  position: absolute;
  right: 20px;
  width: 8px;
}
.find-races .component-25-1-C61RwL {
  background-color: var(--white);
  border: 1px solid var(--gray-nurse);
  flex-shrink: 1;
  height: 340px;
  margin-top: 53px;
  position: relative;
  width: 1280px;
}
.find-races .component-25-10-C61RwL {
  background-color: var(--white);
  border: 1px solid var(--gray-nurse);
  flex-shrink: 1;
  height: 340px;
  margin-top: 30px;
  position: relative;
  width: 1280px;
}
.find-races .component-25-2-C61RwL {
  background-color: var(--white);
  border: 1px solid var(--gray-nurse);
  flex-shrink: 1;
  height: 340px;
  margin-top: 30px;
  position: relative;
  width: 1280px;
}
.find-races .component-25-3-C61RwL {
  background-color: var(--white);
  border: 1px solid var(--gray-nurse);
  flex-shrink: 1;
  height: 340px;
  margin-top: 30px;
  position: relative;
  width: 1280px;
}
.find-races .component-25-4-C61RwL {
  background-color: var(--white);
  border: 1px solid var(--gray-nurse);
  flex-shrink: 1;
  height: 340px;
  margin-top: 30px;
  position: relative;
  width: 1280px;
}
.find-races .component-25-5-C61RwL {
  background-color: var(--white);
  border: 1px solid var(--gray-nurse);
  flex-shrink: 1;
  height: 340px;
  margin-top: 30px;
  position: relative;
  width: 1280px;
}
.find-races .component-25-6-C61RwL {
  background-color: var(--white);
  border: 1px solid var(--gray-nurse);
  flex-shrink: 1;
  height: 340px;
  margin-top: 30px;
  position: relative;
  width: 1280px;
}
.find-races .component-25-7-C61RwL {
  background-color: var(--white);
  border: 1px solid var(--gray-nurse);
  flex-shrink: 1;
  height: 340px;
  margin-top: 30px;
  position: relative;
  width: 1280px;
}
.find-races .component-25-8-C61RwL {
  background-color: var(--white);
  border: 1px solid var(--gray-nurse);
  flex-shrink: 1;
  height: 340px;
  margin-top: 30px;
  position: relative;
  width: 1280px;
}
.find-races .component-25-9-C61RwL {
  background-color: var(--white);
  border: 1px solid var(--gray-nurse);
  flex-shrink: 1;
  height: 340px;
  margin-top: 30px;
  position: relative;
  width: 1280px;
}
.find-races .current-races-JNskzb {
  background-color: transparent;
  bottom: calc(44.74% - 8px);
  height: 19px;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 89px;
}
.find-races .distance-ovjRMA {
  background-color: transparent;
  bottom: calc(44.74% - 8px);
  height: 19px;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 56px;
}
.find-races .dynamic-box-flex-NeVtqC {
  background-color: transparent;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: calc(105.29% - 20px);
  white-space: nowrap;
  width: 28px;
}
.find-races .dynamic-box-flex-RgYKVM {
  background-color: transparent;
  bottom: calc(26.47% - 5px);
  height: 19px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 38px;
}
.find-races .dynamic-box-flex-bA8Fxq {
  background-color: transparent;
  bottom: -4px;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 49px;
}
.find-races .dynamic-box-flex-lxBZc6 {
  background-color: transparent;
  bottom: calc(24.68% - 5px);
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.find-races .dynamic-box-flex-wPk9Ao {
  background-color: transparent;
  height: 19px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: calc(45.29% - 9px);
  white-space: nowrap;
  width: calc(100.00% - 174px);
}
.find-races .dynamic-box-flex-wx1UYx {
  background-color: transparent;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: calc(44.94% - 9px);
  white-space: nowrap;
  width: 84px;
}
.find-races .ellipse-32-17nc4N {
  background-color: transparent;
  bottom: calc(49.34% - 4px);
  height: 8px;
  position: absolute;
  right: calc(49.94% - 4px);
  width: 8px;
}
.find-races .ellipse-32-3oa0xK {
  background-color: transparent;
  bottom: calc(49.34% - 4px);
  height: 8px;
  position: absolute;
  right: calc(49.94% - 4px);
  width: 8px;
}
.find-races .ellipse-32-9xxQCZ {
  background-color: transparent;
  bottom: calc(49.34% - 4px);
  height: 8px;
  position: absolute;
  right: calc(49.94% - 4px);
  width: 8px;
}
.find-races .ellipse-32-Bxeuj8 {
  background-color: transparent;
  bottom: calc(49.34% - 4px);
  height: 8px;
  position: absolute;
  right: calc(49.94% - 4px);
  width: 8px;
}
.find-races .ellipse-32-FK9VMq {
  background-color: transparent;
  bottom: calc(49.34% - 4px);
  height: 8px;
  position: absolute;
  right: calc(49.94% - 4px);
  width: 8px;
}
.find-races .ellipse-32-L4FuHm {
  background-color: transparent;
  bottom: calc(49.34% - 4px);
  height: 8px;
  position: absolute;
  right: calc(49.94% - 4px);
  width: 8px;
}
.find-races .ellipse-32-UG76Q3 {
  background-color: transparent;
  bottom: calc(49.34% - 4px);
  height: 8px;
  position: absolute;
  right: calc(49.94% - 4px);
  width: 8px;
}
.find-races .ellipse-32-b62kM2 {
  background-color: transparent;
  bottom: calc(49.34% - 4px);
  height: 8px;
  position: absolute;
  right: calc(49.94% - 4px);
  width: 8px;
}
.find-races .ellipse-32-kMRMqV {
  background-color: transparent;
  bottom: calc(49.34% - 4px);
  height: 8px;
  position: absolute;
  right: calc(49.94% - 4px);
  width: 8px;
}
.find-races .ellipse-32-tLEP3H {
  background-color: transparent;
  bottom: calc(49.34% - 4px);
  height: 8px;
  position: absolute;
  right: calc(49.94% - 4px);
  width: 8px;
}
.find-races .features-aLzR6V {
  background-color: transparent;
  height: 23px;
  position: absolute;
  right: calc(28.97% - 14px);
  top: calc(49.35% - 11px);
  width: 49px;
}
.find-races .features-p04pkV {
  background-color: transparent;
  height: 23px;
  position: absolute;
  right: calc(34.91% - 17px);
  top: calc(49.35% - 11px);
  width: 48px;
}
.find-races .footer-C61RwL {
  background-color: var(--tangaroa);
  flex-shrink: 1;
  height: 370px;
  margin-top: 104px;
  position: relative;
  width: 1440px;
}
.find-races .formdropdown-4eduM0 {
  background-color: var(--white);
  border: 1px solid var(--alto);
  border-radius: 4px;
  height: 38px;
  left: 327px;
  position: absolute;
  top: 21px;
  width: 150px;
}
.find-races .formdropdown-6sb1qn {
  background-color: var(--white);
  border: 1px solid var(--alto);
  border-radius: 4px;
  height: 38px;
  left: 662px;
  position: absolute;
  top: 21px;
  width: 180px;
}
.find-races .formdropdown-BJQsbv {
  background-color: var(--white);
  border: 1px solid var(--alto);
  border-radius: 4px;
  height: 38px;
  left: 493px;
  position: absolute;
  top: 21px;
  width: 150px;
}
.find-races .formdropdown-ovOecM {
  background-color: var(--white);
  border: 1px solid var(--alto);
  border-radius: 4px;
  height: 38px;
  left: 858px;
  position: absolute;
  top: 21px;
  width: 180px;
}
.find-races .get-the-latest-news-TGj5BD {
  background-color: transparent;
  bottom: -8px;
  height: 37px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.find-races .group-9853-iPe1yZ {
  background-color: transparent;
  height: 98px;
  left: calc(48.33% - 60px);
  position: absolute;
  top: calc(18.01% - 18px);
  width: 124px;
}
.find-races .group-9899-C61RwL {
  background-color: var(--white);
  flex-shrink: 1;
  height: 100px;
  position: relative;
  width: 1440px;
}
.find-races .group-9900-T33Nww {
  background-color: transparent;
  background-image: url(../assets/new_styles/path-22128-3@1x.png);
  background-size: 100% 100%;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 5px);
}
.find-races .group-9900-fceSyv {
  background-color: transparent;
  background-image: url(../assets/new_styles/path-22128-1@1x.png);
  background-size: 100% 100%;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 5px);
}
.find-races .group-9900-p04pkV {
  background-color: transparent;
  height: 26px;
  left: 80px;
  position: absolute;
  top: calc(49.95% - 13px);
  width: 212px;
}
.find-races .group-9901-T33Nww {
  background-color: transparent;
  background-image: url(../assets/new_styles/path-22129-3@1x.png);
  background-size: 100% 100%;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 2px;
}
.find-races .group-9901-fceSyv {
  background-color: transparent;
  background-image: url(../assets/new_styles/path-22129-1@1x.png);
  background-size: 100% 100%;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 2px;
}
.find-races .group-9902-BAHXEU {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 19px;
}
.find-races .group-9902-cqfbxD {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 19px;
}
// .find-races .group-9903-QzSuby {
//   background-color: transparent;
//   background-image: url(../assets/new_styles/path-22130-3@1x.png);
//   background-size: 100% 100%;
//   height: 100%;
//   left: 0px;
//   position: relative;
//   top: 0px;
//   width: 100%;
// }
// .find-races .group-9903-nvfYes {
//   background-color: transparent;
//   background-image: url(../assets/new_styles/path-22130-1@1x.png);
//   background-size: 100% 100%;
//   height: 100%;
//   left: 0px;
//   position: relative;
//   top: 0px;
//   width: 100%;
// }
// .find-races .group-9904-BAHXEU {
//   background-color: transparent;
//   height: 100%;
//   left: 21px;
//   position: absolute;
//   top: 0px;
//   width: 13px;
// }
// .find-races .group-9904-cqfbxD {
//   background-color: transparent;
//   height: 100%;
//   left: 21px;
//   position: absolute;
//   top: 0px;
//   width: 13px;
// }
// .find-races .group-9905-7JZbEi {
//   background-color: transparent;
//   background-image: url(../assets/new_styles/path-22131-3@1x.png);
//   background-size: 100% 100%;
//   height: 100%;
//   left: 0px;
//   position: absolute;
//   top: 0px;
//   width: 13px;
// }
// .find-races .group-9905-TVaaiX {
//   background-color: transparent;
//   background-image: url(../assets/new_styles/path-22131-1@1x.png);
//   background-size: 100% 100%;
//   height: 100%;
//   left: 0px;
//   position: absolute;
//   top: 0px;
//   width: 13px;
// }
// .find-races .group-9906-7JZbEi {
//   background-color: transparent;
//   background-image: url(../assets/new_styles/path-22132-3@1x.png);
//   background-size: 100% 100%;
//   height: 100%;
//   left: calc(32.85% - 4px);
//   position: absolute;
//   top: 0px;
//   width: 13px;
// }
// .find-races .group-9906-TVaaiX {
//   background-color: transparent;
//   background-image: url(../assets/new_styles/path-22132-2@1x.png);
//   background-size: 100% 100%;
//   height: 100%;
//   left: calc(32.85% - 4px);
//   position: absolute;
//   top: 0px;
//   width: 13px;
// }
// .find-races .group-9907-7JZbEi {
//   background-color: transparent;
//   background-image: url(../assets/new_styles/path-22133-3@1x.png);
//   background-size: 100% 100%;
//   height: 100%;
//   position: absolute;
//   right: 0px;
//   top: 0px;
//   width: 13px;
// }
// .find-races .group-9907-TVaaiX {
//   background-color: transparent;
//   background-image: url(../assets/new_styles/path-22133-1@1x.png);
//   background-size: 100% 100%;
//   height: 100%;
//   position: absolute;
//   right: 0px;
//   top: 0px;
//   width: 13px;
// }
// .find-races .group-9908-7JZbEi {
//   background-color: transparent;
//   background-image: url(../assets/new_styles/path-22134-3@1x.png);
//   background-size: 100% 100%;
//   height: 100%;
//   position: absolute;
//   right: calc(33.31% - 5px);
//   top: 0px;
//   width: 14px;
// }
// .find-races .group-9908-TVaaiX {
//   background-color: transparent;
//   background-image: url(../assets/new_styles/path-22134-1@1x.png);
//   background-size: 100% 100%;
//   height: 100%;
//   position: absolute;
//   right: calc(33.31% - 5px);
//   top: 0px;
//   width: 14px;
// }
// .find-races .group-9909-BAHXEU {
//   background-color: transparent;
//   height: 100%;
//   left: calc(33.53% - 21px);
//   position: absolute;
//   top: 0px;
//   width: 62px;
// }
// .find-races .group-9909-cqfbxD {
//   background-color: transparent;
//   height: 100%;
//   left: calc(33.53% - 21px);
//   position: absolute;
//   top: 0px;
//   width: 62px;
// }
// .find-races .group-9910-Tx7WFa {
//   background-color: transparent;
//   background-image: url(../assets/new_styles/path-22135-1@1x.png);
//   background-size: 100% 100%;
//   height: 100%;
//   left: 0px;
//   position: relative;
//   top: 0px;
//   width: 100%;
// }
// .find-races .group-9910-dDmMkR {
//   background-color: transparent;
//   background-image: url(../assets/new_styles/path-22135-3@1x.png);
//   background-size: 100% 100%;
//   height: 100%;
//   left: 0px;
//   position: relative;
//   top: 0px;
//   width: 100%;
// }
// .find-races .group-9911-BAHXEU {
//   background-color: transparent;
//   height: 100%;
//   position: absolute;
//   right: calc(30.44% - 4px);
//   top: 0px;
//   width: 13px;
// }
// .find-races .group-9911-cqfbxD {
//   background-color: transparent;
//   height: 100%;
//   position: absolute;
//   right: calc(30.44% - 4px);
//   top: 0px;
//   width: 13px;
// }
// .find-races .group-9912-1hiGAc {
//   background-color: transparent;
//   background-image: url(../assets/new_styles/path-22134-1@1x.png);
//   background-size: 100% 100%;
//   height: 100%;
//   left: 0px;
//   position: relative;
//   top: 0px;
//   width: 100%;
// }
// .find-races .group-9912-VABRSi {
//   background-color: transparent;
//   background-image: url(../assets/new_styles/path-22134-3@1x.png);
//   background-size: 100% 100%;
//   height: 100%;
//   left: 0px;
//   position: relative;
//   top: 0px;
//   width: 100%;
// }
// .find-races .group-9913-BAHXEU {
//   background-color: transparent;
//   height: 100%;
//   position: absolute;
//   right: calc(20.09% - 3px);
//   top: 0px;
//   width: 14px;
// }
// .find-races .group-9913-cqfbxD {
//   background-color: transparent;
//   height: 100%;
//   position: absolute;
//   right: calc(20.09% - 3px);
//   top: 0px;
//   width: 14px;
// }
// .find-races .group-9914-Dqmetp {
//   background-color: transparent;
//   background-image: url(../assets/new_styles/path-22137-3@1x.png);
//   background-size: 100% 100%;
//   height: 100%;
//   left: 0px;
//   position: absolute;
//   top: 0px;
//   width: 13px;
// }
// .find-races .group-9914-kBASSw {
//   background-color: transparent;
//   background-image: url(../assets/new_styles/path-22137-1@1x.png);
//   background-size: 100% 100%;
//   height: 100%;
//   left: 0px;
//   position: absolute;
//   top: 0px;
//   width: 13px;
// }
// .find-races .group-9915-Dqmetp {
//   background-color: transparent;
//   background-image: url(../assets/new_styles/path-22138-3@1x.png);
//   background-size: 100% 100%;
//   height: 100%;
//   position: absolute;
//   right: 0px;
//   top: 0px;
//   width: 13px;
// }
// .find-races .group-9915-kBASSw {
//   background-color: transparent;
//   background-image: url(../assets/new_styles/path-22138-1@1x.png);
//   background-size: 100% 100%;
//   height: 100%;
//   position: absolute;
//   right: 0px;
//   top: 0px;
//   width: 13px;
// }
.find-races .group-9916-BAHXEU {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 1px;
  top: 0px;
  width: 29px;
}
.find-races .group-9916-cqfbxD {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 1px;
  top: 0px;
  width: 29px;
}
.find-races .group-9917-K1mxte {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.find-races .group-9917-azL5O4 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.find-races .group-9918-5hAezG {
  background-color: transparent;
  height: 10px;
  position: absolute;
  right: 0px;
  top: calc(50.00% - 5px);
  width: 172px;
}
.find-races .group-9918-P9n9ck {
  background-color: transparent;
  height: 10px;
  position: absolute;
  right: 0px;
  top: calc(50.00% - 5px);
  width: 172px;
}
.find-races .group-9919-cI0sxL {
  background-color: transparent;
  background-image: url(../assets/new_styles/path-22139-1@1x.png);
  background-size: 100% 100%;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.find-races .group-9919-zQ0nPM {
  background-color: transparent;
  background-image: url(../assets/new_styles/path-22139-3@1x.png);
  background-size: 100% 100%;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.find-races .group-9920-Bgo6we {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.find-races .group-9920-xRbmt8 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.find-races .group-9921-0KbhXn {
  background-color: transparent;
  background-image: url(../assets/new_styles/path-22140-3@1x.png);
  background-size: 100% 100%;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.find-races .group-9921-Uxxv6s {
  background-color: transparent;
  background-image: url(../assets/new_styles/path-22140-1@1x.png);
  background-size: 100% 100%;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.find-races .group-9922-a1sji1 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.find-races .group-9922-qOgT92 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.find-races .group-9923-bsf9Jz {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.find-races .group-9923-ixJWdX {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.find-races .group-9924-avMjTn {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.find-races .group-9924-en6IV7 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.find-races .group-9925-Bgo6we {
  background-color: transparent;
  height: 19px;
  position: absolute;
  right: 0px;
  top: 1px;
  width: 21px;
}
.find-races .group-9925-xRbmt8 {
  background-color: transparent;
  height: 19px;
  position: absolute;
  right: 0px;
  top: 1px;
  width: 21px;
}
.find-races .group-9926-8RqyX8 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.find-races .group-9926-Teph8G {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.find-races .group-9927-5hAezG {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 28px;
}
.find-races .group-9927-P9n9ck {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 28px;
}
.find-races .group-9933-wPk9Ao {
  background-color: transparent;
  height: 26px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.find-races .group-9935-iPe1yZ {
  background-color: transparent;
  height: 104px;
  left: calc(17.92% - 38px);
  position: absolute;
  top: 46px;
  width: 212px;
}
.find-races .heart-17nc4N {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 100%;
}
.find-races .heart-3oa0xK {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 100%;
}
.find-races .heart-3yNWBz {
  background-color: transparent;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 28px;
}
.find-races .heart-9Xx1PX {
  background-color: transparent;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 28px;
}
.find-races .heart-9xxQCZ {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 100%;
}
.find-races .heart-Bxeuj8 {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 100%;
}
.find-races .heart-FK9VMq {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 100%;
}
.find-races .heart-GcAXmx {
  background-color: transparent;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 28px;
}
.find-races .heart-L4FuHm {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 100%;
}
.find-races .heart-UG76Q3 {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 100%;
}
.find-races .heart-UloyJ9 {
  background-color: transparent;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 28px;
}
.find-races .heart-WTSSiU {
  background-color: transparent;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 28px;
}
.find-races .heart-aB2xmo {
  background-color: transparent;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 28px;
}
.find-races .heart-ayxDeQ {
  background-color: transparent;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 28px;
}
.find-races .heart-b62kM2 {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 100%;
}
.find-races .heart-cPrnox {
  background-color: transparent;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 28px;
}
.find-races .heart-kMRMqV {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 100%;
}
.find-races .heart-seY9Ct {
  background-color: transparent;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 28px;
}
.find-races .heart-tLEP3H {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 100%;
}
.find-races .heart-vzpmx0 {
  background-color: transparent;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 28px;
}
.find-races .help-A0tPHI {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.find-races .help-p04pkV {
  background-color: transparent;
  height: 23px;
  position: absolute;
  right: calc(23.72% - 9px);
  top: calc(49.35% - 11px);
  width: 36px;
}
.find-races .icon-uRjDPe {
  background-color: transparent;
  height: 16px;
  position: absolute;
  right: 8px;
  top: calc(50.00% - 8px);
  width: 16px;
}
.find-races .input-qPPd6S {
  background-color: transparent;
  bottom: 0px;
  height: 37px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.find-races .leaderboard-7R9sNI {
  background-color: transparent;
  bottom: calc(44.74% - 8px);
  height: 19px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 46px);
}
.find-races .leaderboard-BSaX4k {
  background-color: transparent;
  bottom: calc(44.74% - 8px);
  height: 19px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 46px);
}
.find-races .leaderboard-CbhgY8 {
  background-color: transparent;
  bottom: calc(44.74% - 8px);
  height: 19px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 46px);
}
.find-races .leaderboard-FB7oyy {
  background-color: transparent;
  bottom: calc(44.74% - 8px);
  height: 19px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 46px);
}
.find-races .leaderboard-Ru1DoA {
  background-color: transparent;
  bottom: calc(44.74% - 8px);
  height: 19px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 46px);
}
.find-races .leaderboard-SdkPs0 {
  background-color: transparent;
  bottom: calc(44.74% - 8px);
  height: 19px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 46px);
}
.find-races .leaderboard-Txxmfk {
  background-color: transparent;
  bottom: calc(44.74% - 8px);
  height: 19px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 46px);
}
.find-races .leaderboard-fhfvdu {
  background-color: transparent;
  bottom: calc(44.74% - 8px);
  height: 19px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 46px);
}
.find-races .leaderboard-ngMF0Y {
  background-color: transparent;
  bottom: calc(44.74% - 8px);
  height: 19px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 46px);
}
.find-races .leaderboard-w7anvH {
  background-color: transparent;
  bottom: calc(44.74% - 8px);
  height: 19px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 46px);
}
.find-races .log-in-button {
  background-color: transparent;
  bottom: calc(44.74% - 8px);
  height: 19px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 46px);
}
.find-races .lorem-ipsu-oluptua-at-3yNWBz {
  background-color: transparent;
  height: 62px;
  left: 380px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(27.70% - 17px);
  width: calc(100.00% - 398px);
}
.find-races .lorem-ipsu-oluptua-at-9Xx1PX {
  background-color: transparent;
  height: 62px;
  left: 380px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(27.70% - 17px);
  width: calc(100.00% - 398px);
}
.find-races .lorem-ipsu-oluptua-at-GcAXmx {
  background-color: transparent;
  height: 62px;
  left: 380px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(27.70% - 17px);
  width: calc(100.00% - 398px);
}
.find-races .lorem-ipsu-oluptua-at-UloyJ9 {
  background-color: transparent;
  height: 62px;
  left: 380px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(27.70% - 17px);
  width: calc(100.00% - 398px);
}
.find-races .lorem-ipsu-oluptua-at-WTSSiU {
  background-color: transparent;
  height: 62px;
  left: 380px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(27.70% - 17px);
  width: calc(100.00% - 398px);
}
.find-races .lorem-ipsu-oluptua-at-aB2xmo {
  background-color: transparent;
  height: 62px;
  left: 380px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(27.70% - 17px);
  width: calc(100.00% - 398px);
}
.find-races .lorem-ipsu-oluptua-at-ayxDeQ {
  background-color: transparent;
  height: 62px;
  left: 380px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(27.70% - 17px);
  width: calc(100.00% - 398px);
}
.find-races .lorem-ipsu-oluptua-at-cPrnox {
  background-color: transparent;
  height: 62px;
  left: 380px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(27.70% - 17px);
  width: calc(100.00% - 398px);
}
.find-races .lorem-ipsu-oluptua-at-seY9Ct {
  background-color: transparent;
  height: 62px;
  left: 380px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(27.70% - 17px);
  width: calc(100.00% - 398px);
}
.find-races .lorem-ipsu-oluptua-at-vzpmx0 {
  background-color: transparent;
  height: 62px;
  left: 380px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: calc(27.70% - 17px);
  width: calc(100.00% - 398px);
}
.find-races .number-registered-CxLI6h {
  background-color: transparent;
  bottom: calc(44.74% - 8px);
  height: 19px;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 121px;
}
.find-races .number-registered-S4SUKH {
  background-color: transparent;
  bottom: calc(44.74% - 8px);
  height: 19px;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 121px;
}
.find-races .overlap-group-search {
  background-color: transparent;
  flex-shrink: 1;
  height: 81px;
  margin-top: 0px;
  position: relative;
  width: 1440px;
}
.find-races .path-YNieyX {
  background-color: transparent;
  height: calc(100.00% - 5px);
  left: 1px;
  position: absolute;
  top: 3px;
  width: 12px;
}
.find-races .races-cfT95x {
  background-color: transparent;
  color: var(--dodger-blue);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.find-races .rectangle-search {
  background-color: var(--white);
  box-shadow: 0px 3px 6px rgba(0,0,0,0.02);;
  height: 81px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.find-races .rectangle-2784-3yNWBz {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}
.find-races .rectangle-2784-9Xx1PX {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}
.find-races .rectangle-2784-GcAXmx {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}
.find-races .rectangle-2784-UloyJ9 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}
.find-races .rectangle-2784-WTSSiU {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}
.find-races .rectangle-2784-aB2xmo {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}
.find-races .rectangle-2784-ayxDeQ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}
.find-races .rectangle-2784-cPrnox {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}
.find-races .rectangle-2784-seY9Ct {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}
.find-races .rectangle-2784-vzpmx0 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}
.find-races .rectangle-qsGctK {
  background-color: var(--gray-nurse);
  height: calc(100.00% - 17px);
  position: absolute;
  right: 32px;
  top: 8px;
  width: 1px;
}
.find-races .rectangle-uRjDPe {
  background-color: var(--white);
  border: 1px solid rgba(223,223,223,1.0);
  border-radius: 4px;
  height: calc(100.00% + 1px);
  left: 0px;
  position: absolute;
  top: 0px;
  width: calc(100.00% + 1px);
}
.find-races .register-button {
  background-color: transparent;
  bottom: calc(44.74% - 8px);
  height: 19px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 46px);
}
.find-races .register-to-race-AnsukI {
  background-color: transparent;
  bottom: calc(44.74% - 8px);
  height: 19px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 46px);
}
.find-races .register-to-race-I3tOr1 {
  background-color: transparent;
  bottom: calc(44.74% - 8px);
  height: 19px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 46px);
}
.find-races .register-to-race-Q1EmJv {
  background-color: transparent;
  bottom: calc(44.74% - 8px);
  height: 19px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 46px);
}
.find-races .register-to-race-eHSaGY {
  background-color: transparent;
  bottom: calc(44.74% - 8px);
  height: 19px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 46px);
}
.find-races .register-to-race-gODFA7 {
  background-color: transparent;
  bottom: calc(44.74% - 8px);
  height: 19px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 46px);
}
.find-races .register-to-race-j8ySDH {
  background-color: transparent;
  bottom: calc(44.74% - 8px);
  height: 19px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 46px);
}
.find-races .register-to-race-oOIp5i {
  background-color: transparent;
  bottom: calc(44.74% - 8px);
  height: 19px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 46px);
}
.find-races .register-to-race-qDTesH {
  background-color: transparent;
  bottom: calc(44.74% - 8px);
  height: 19px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 46px);
}
.find-races .register-to-race-v5jAsR {
  background-color: transparent;
  bottom: calc(44.74% - 8px);
  height: 19px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 46px);
}
.find-races .register-to-race-zW81kp {
  background-color: transparent;
  bottom: calc(44.74% - 8px);
  height: 19px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 46px);
}
.find-races .robocop-desert-race-3yNWBz {
  background-color: transparent;
  height: 35px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: calc(46.63% - 265px);
  text-align: left;
  top: 26px;
  white-space: nowrap;
  width: 568px;
}
.find-races .robocop-desert-race-9Xx1PX {
  background-color: transparent;
  height: 35px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: calc(46.63% - 265px);
  text-align: left;
  top: 26px;
  white-space: nowrap;
  width: 568px;
}
.find-races .robocop-desert-race-GcAXmx {
  background-color: transparent;
  height: 35px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: calc(46.63% - 265px);
  text-align: left;
  top: 26px;
  white-space: nowrap;
  width: 568px;
}
.find-races .robocop-desert-race-UloyJ9 {
  background-color: transparent;
  height: 35px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: calc(46.63% - 265px);
  text-align: left;
  top: 26px;
  white-space: nowrap;
  width: 568px;
}
.find-races .robocop-desert-race-WTSSiU {
  background-color: transparent;
  height: 35px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: calc(46.63% - 265px);
  text-align: left;
  top: 26px;
  white-space: nowrap;
  width: 568px;
}
.find-races .robocop-desert-race-aB2xmo {
  background-color: transparent;
  height: 35px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: calc(46.63% - 265px);
  text-align: left;
  top: 26px;
  white-space: nowrap;
  width: 568px;
}
.find-races .robocop-desert-race-ayxDeQ {
  background-color: transparent;
  height: 35px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: calc(46.63% - 265px);
  text-align: left;
  top: 26px;
  white-space: nowrap;
  width: 568px;
}
.find-races .robocop-desert-race-cPrnox {
  background-color: transparent;
  height: 35px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: calc(46.63% - 265px);
  text-align: left;
  top: 26px;
  white-space: nowrap;
  width: 568px;
}
.find-races .robocop-desert-race-seY9Ct {
  background-color: transparent;
  height: 35px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: calc(46.63% - 265px);
  text-align: left;
  top: 26px;
  white-space: nowrap;
  width: 568px;
}
.find-races .robocop-desert-race-vzpmx0 {
  background-color: transparent;
  height: 35px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  right: calc(46.63% - 265px);
  text-align: left;
  top: 26px;
  white-space: nowrap;
  width: 568px;
}
.find-races .search-img {
  background-color: transparent;
  bottom: calc(47.96% - 7px);
  height: 14px;
  position: absolute;
  right: 18px;
  width: 14px;
}
.find-races .search-race-name {
  background-color: transparent;
  bottom: calc(41.67% - 8px);
  color: rgba(0,0,0,0.4);
  font-family: 'Lato', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 19px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 110px;
}
.find-races .searchinput-races {
  background-color: var(--white);
  border: 1px solid var(--alto);
  border-radius: 4px;
  height: 37px;
  left: 80px;
  position: absolute;
  top: 22px;
  width: 231px;
}
.find-races .subscribe-TGj5BD {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 72px;
}
.find-races .subscribe-iPe1yZ {
  background-color: transparent;
  height: 136px;
  position: absolute;
  right: calc(18.60% - 48px);
  top: 49px;
  width: 257px;
}
.find-races .text-qPPd6S {
  background-color: transparent;
  height: 71px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 20px);
}
.find-races .web-studio-wx1UYx {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 40px;
}
.find-races .your-email-uRjDPe {
  background-color: transparent;
  color: rgba(153,153,153,1.0);
  font-family: 'Helvetica-Regular', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 16px;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
  width: 68px;
}
.lato-bold-dodger-blue-14px {
  color: var(--dodger-blue);
  font-family: 'Lato', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.lato-bold-white-14px {
  color: var(--white) !important;
  font-family: 'Lato', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.lato-medium-nobel-14px {
  color: var(--nobel);
  font-family: 'Lato', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.poppins-medium-white-14px {
  color: var(--white);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.poppins-normal-pale-sky-16px {
  color: var(--pale-sky);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.poppins-normal-pale-sky-18px {
  color: var(--pale-sky);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.poppins-normal-pale-sky-20px {
  color: var(--pale-sky);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.poppins-normal-white-12px {
  color: var(--white);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.poppins-semi-bold-ebony-24px {
  color: var(--ebony);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.poppins-semi-bold-ebony-36px {
  color: var(--ebony);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
}
:root {
  --alto: rgba(222,222,223,1.0);
  --dodger-blue: rgba(32,164,243,1.0);
  --ebony: rgba(15,8,33,1.0);
  --gray-nurse: rgba(234,234,234,1.0);
  --nobel: rgba(181,181,181,1.0);
  --pale-sky: rgba(107,119,140,1.0);
  --tangaroa: rgba(8,31,63,1.0);
  --white: rgba(255,255,255,1.0);
}
