@import '../variables/colors.scss';

.activity-left-card {
  .balance {
    font-size: 2.5em;
    font-weight: 600;
    line-height: 0em;
    text-align: center;
    justify-content: center;
  }

  .desc {
    font-size: 0.9em;
    color: $light-gray;
    text-align: center;
    justify-content: center;
  }

  .title {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 0em;
    text-align: center;
    justify-content: center;
  }

  .link-status {
    margin-left: 7em;
    margin-right: 7em;
    text-align: center;
    justify-content: center;
    
    .pending {
      padding: .2em;
      color: #FFFFFF;
      font-weight: 500;
      border-radius: 4px;
      background-color: $lighter-gray;
    }

    .success {
      padding: .2em;
      color: #FFFFFF;
      font-weight: 500;
      border-radius: 4px;
      background-color: $green;
    }
  }
}

.activity-right-card {
  th {
    font-weight: 400 !important;
    background-color: #F4FAFF !important;
  }

  .center {
    text-align: center !important;
  }

  .search-bar {
    width: 30em;
  }
}

.banner {
  height: 8em;
  background: linear-gradient( 
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5) 
  ), image-url('landing/welcome-bg.png');
  background-size: cover;

  p {
    font-size: 2.5em;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    padding-top: 0.5em;
  }
}

.icon-container {
  text-align: center;
  justify-content: center;
}

////// Mobile //////
@media (min-width: 320px) and (max-width: 425px) {
  .activity-left-card {
    .link-status {
      margin-left: 5em;
      margin-right: 5em; 
    }
  }

  .activity-right-card {
    td, th {
      font-size: 0.7em;
    }

    .search-bar {
      width: 8em;
    }
  }

  .banner {
    max-width: 98%;
  }
}

////// Tablet //////
@media (min-width: 426px) and (max-width: 768px) {
  .activity-left-card {
    .balance {
      font-size: 2.2em;
    }
  
    .title {
      font-size: 1.1em;
    }
    
    .link-status {
      margin-left: 2em;
      margin-right: 2em; 
    }
  }

  .activity-right-card {
    .search-bar {
      width: 15em;
    }
  }
}