!!!
%html
  %head
    %title Virtual Dash
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %script{:src => "https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"}
    %link{:href => "https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"}
    :css
      body {
        height: 100vh;
        background-color: #f8f8f8;
      }
      .card {
        padding: 3em;
        margin-top: 15vh;
        border-radius: 12px;
        box-shadow: 0px 0px 11px 1px #6b778c4f !important;
      }
  %body
    .ui.stackable.three.column.centered.grid
      .row
        .column
          = yield
