!!!
%html
  %head
    %title Virtual Dash
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %script{:src => "https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"}
    %link{:href => "https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"}
    :css
      body {
        height: 100vh;
        background-color: #f8f8f8;
      }
      .auto-message {
        color: #6b778c;
        font-size: small;
        text-align: justify;
        padding-top: 2em !important;
      }
      .card {
        padding: 6em;    
        margin-top: 15vh;
        text-align: center;
        border-radius: 12px;
        box-shadow: 0px 0px 11px 1px #6b778c4f !important;
      }
  %body
    .ui.stackable.two.column.centered.grid
      .row
        .column
          .card
            = image_tag attachments['logo.svg'].url, alt: 'Virtual Dash'
            = yield
          .auto-messsage-container
            %p.auto-message
              Please do not reply to this message via e-mail. 
              This address is automated, unattended, and cannot help with questions or requests.
